<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans  xmlns="http://www.springframework.org/schema/beans"-->
<!--        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--        xmlns:aop="http://www.springframework.org/schema/aop"-->
<!--        xmlns:context="http://www.springframework.org/schema/context"-->
<!--        xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd-->
<!--    http://www.springframework.org/schema/aop-->
<!--    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">-->

<!--&lt;!&ndash;    <context:component-scan base-package = "com.devmind.springapp"/>&ndash;&gt;-->

<!--&lt;!&ndash;    <bean&ndash;&gt;-->
<!--&lt;!&ndash;        id = "myTeacher"&ndash;&gt;-->
<!--&lt;!&ndash;        class = "com.devmind.springapp.JavaTeacher">&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg index = "0" ref = "wisdomService" />&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg  index = "1" ref = "homeworkService" />&ndash;&gt;-->

<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--&lt;!&ndash;    <bean&ndash;&gt;-->
<!--&lt;!&ndash;            id = "wisdomService"&ndash;&gt;-->
<!--&lt;!&ndash;            class = "com.devmind.springapp.WisdomWordsService">&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--&lt;!&ndash;    <bean&ndash;&gt;-->
<!--&lt;!&ndash;            id = "homeworkService"&ndash;&gt;-->
<!--&lt;!&ndash;            class = "com.devmind.springapp.HomeworkService">&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--&lt;!&ndash;    <bean id="myMathTeacher"&ndash;&gt;-->
<!--&lt;!&ndash;          class="com.devmind.springapp.MathTeacher">&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="wisdomService" ref="wisdomService" />&ndash;&gt;-->

<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--</beans>-->
